body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 100%;
    background: #F9F9F9;
}
.flex-container {
    display: none;
}
  #drop {
    display: block;
    padding-left: 100px;
    padding-top: 40px;
    width: 70%;
    float: left;
  }
  #drop1 {
    display: block;
    padding-left: 400px;
    padding-top: 40px;
    width: 85%;
    float: left;
  }
  .donate4{
      width: 5%;
  height: 4px;
  background: #0687FC;
  }
  .donate5{
      width: 10%;
  height: 4px;
  background: #0687FC;
  }
  a {
      text-decoration: none;
  }
  #dash h3 {
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
    color: white;
  }
  #side h3 {
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #072568;
  }
  #sidenav {
      background: #072568;
      height: 100vh;
      width: 20%;
      float: left;
  }
  #sidenav3 {
      background: #072568;
      height: 100vh;
      width: 20%;
      float: left;
      position: fixed;
  }
  #sidenav h3 {
      margin-left: 20px;
      padding-top: 12px;
      float: left;
  }
  #sidenav3 h3 {
      margin-left: 20px;
      padding-top: 12px;
      float: left;
  }
  #did {
    width: 100%;
  }
  .icons {
    float: left;
  }
  .lop {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #2F3034;
margin-left: 40px;
padding-top: 5px;
  }
  .lop1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #2F3034;
margin-left: 40px;
padding-top: 5px;
  }
  .se {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #072568;
  }
  #form1 {
      width: 71%;
      height: 30px;
      margin-bottom: 30px;
      float: left;
  }
  #c {
    padding-left: 370px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #form1 label {
      width: 23%;
      height: 40px;
      margin-bottom: 30px;
      float: left;
  }
  #form2 {
      width: 55%;
      height: 30px;
      margin-bottom: 30px;
      float: left;
      padding-left: 360px;
  }
  #form2 label {
      width: 90%;
      height: 40px;
      margin-bottom: 30px;
      float: left;
  }
  label span {
    visibility: hidden;
  }
  .form-check-label1 {
    background: #072568;
    width: 10%;
    height: 60px;
    cursor: pointer;
    border-radius: 30px;
    border-color:#072568;
    font-weight: 600;
    font-size: 16px;
    padding-top: 7px;
    padding-left: 15px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 20px;
    letter-spacing: 0.05em;
    color: #FCE6E3;
  }
  .jop {
    padding-left: 20px;
  }
  #form {
      width: 40%;
      height: 30px;
      margin-bottom: 30px;
      float: left;
  }
  #form3 {
      width: 24%;
      height: 30px;
      margin-bottom: 30px;
      float: left;
  }
  #form4 {
      width: 24%;
      height: 30px;
      margin-bottom: 30px;
      float: left;
  }
  #qwe {
    margin-left: 200px;
  }
  #form3 label {
      width: 50%;
      height: 40px;
      margin-bottom: 20px;
      float: left;
  }
  #form4 label {
      width: 50%;
      height: 40px;
      margin-bottom: 20px;
      float: left;
  }
    .form-check label {
      font-weight: bold;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      text-transform: capitalize;
      color: #072568;
      text-align: left;
      padding-left: 10px;
    }
    .u {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
padding-left: 110px;
width: 78%;
color: #2F3034;
    }
    .yo {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #072568;
padding-top: 40px;
    }
    .u span {
      font-weight: bold;
      color: #072568;
    }
    .form-check1 label {
      font-weight: bold;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      text-transform: capitalize;
      color: #072568;
      text-align: left;
      padding-left: 10px;
      padding-top: 5px;
    }
    .c {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #2F3034;
width: 80%;
padding-left: 200px;
    }
    .c span {
      font-weight: bold;
      color: #072568;
    }
  .we {
         display: grid;
         width: 100%;
         grid-template-columns: 45% 45%;
         grid-template-rows: repeat(2, 250px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .wez {
         display: grid;
         width: 100%;
         grid-template-columns: 45% 45%;
         grid-template-rows: repeat(1, 220px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .we1 {
         display: grid;
         width: 100%;
         grid-template-columns: 45% 45%;
         grid-template-rows: repeat(2, 270px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .qe {
         display: grid;
         width: 100%;
         grid-template-columns: 45% 45%;
         grid-template-rows: repeat(1, 270px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .ze {
         display: grid;
         width: 100%;
         grid-template-columns: 100%;
         grid-template-rows: repeat(1, 1150px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .ze1 {
         display: grid;
         width: 100%;
         grid-template-columns: 100%;
         grid-template-rows: repeat(1, 900px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .ae {
         display: grid;
         width: 100%;
         grid-template-columns: 100%;
         grid-template-rows: repeat(1, 300px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .be {
         display: grid;
         width: 100%;
         grid-template-columns: 100%;
         grid-template-rows: repeat(1, 300px);
         grid-gap: 40px;
         margin-top: 40px;
         margin-bottom: 25px;
  }
  .o {
    float: left;
    padding-left: 150px;
  }
  .o1 {
    float: left;
    margin-left: 30px;
  }
  .s {
    padding-left: 400px;
  }
  .s2 {
    padding-left: 150px;
    float: left;
  }
  .s1 {
    padding-left: 550px;
  }
  .m {
    float: left;
    margin-left: 10px;
  }
  .n {
    padding-left: 170px;
  }
  .y {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #181B21;
  }
  li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #2F3034;
  }
  .z {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #2F3034;
margin-bottom: 20px;
  }
  .z1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #2F3034;
margin-bottom: 20px;
  }
  .z2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #2F3034;
  }
  .d {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #181B21;
  }
  .de {
    visibility: hidden;
  }
  .pot {
    background: #FFFFFF;
box-shadow: 4px 10px 10px rgba(6, 135, 252, 0.1);
border-radius: 10px;
  }
  .p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #072568;
padding-top: 5px;
  }
#side {
    background: #FCE6E3;
    height: 50px;
    width: 100%;
    border-color: #FCE6E3;
    border: 0px;
}
#dash {
    height: 60px;
    background: #072568;
    width: 100%;
    border-color: #072568;
    border: 0px;
}
.circle{
    margin-left: 80px;
    margin-bottom: 70px;
    padding-top: 30px;
}
.kite {
  font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-top: 10px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-transform: capitalize;
color: #181B21;
}
.a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #072568;
text-transform: capitalize;
}
.kit {
    float: left;
}
.img {
    float: left;
    margin-left: 23px;
    padding-top: 10px;
}
li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #2F3034;
}
.pop {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
color: #072568;
padding-top: 10px;
}
.aop {
  padding-left: 20px;
}
#zeem {
  padding-left: 30px;
  float: left;
}
  @media (min-width: 300px) and (max-width: 800px) {
    body {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        width: 100%;
    }
    #form3 {
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        float: left;
    }
    .jop {
      padding-left: 10px;
    }
    .aop {
      padding-left: 20px;
    }
    .a {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    color: #072568;
    text-transform: capitalize;
    }
    #form4 {
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        float: left;
    }
    #deem {
      padding-left: 90px;
      float: left;
  }
  #zeem {
    padding-left: 60px;
    float: left;
}
  .head {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 15.5733px;
line-height: 23px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
padding-left: 100px;
padding-top: 20px;
  }
    #form {
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        float: left;
    }
    .form-check-label1 {
      background: #072568;
      width: 10%;
      height: 60px;
      cursor: pointer;
      border-radius: 30px;
      border-color:#072568;
      font-weight: 600;
      font-size: 16px;
      padding-top: 7px;
      padding-left: 15px;
      line-height: 24px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      margin-top: 0px;
      letter-spacing: 0.05em;
      color: #FCE6E3;
    }
    #qwe {
      margin-left: 20px;
    }
    ul {
      padding-left: 20px;
    }
    .u {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: left;
padding-left: 10px;
width: 100%;
color: #2F3034;
    }
    .y {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #181B21;
    }
    .yo {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: left;
color: #072568;
padding-top: 40px;
padding-left: 10px;
    }
    .u span {
      font-weight: bold;
      color: #072568;
    }
    .c {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #2F3034;
width: 90%;
padding-left: 30px;
    }
    #form1 {
        width: 71%;
        height: 30px;
        margin-bottom: 30px;
        float: left;
    }
    #c {
      padding-left: 100px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    #form1 label {
        width: 54%;
        height: 40px;
        margin-bottom: 30px;
        float: left;
    }
    .wez {
           display: grid;
           width: 100%;
           grid-template-columns: 95%;
           grid-template-rows: repeat(2, 220px);
           grid-gap: 40px;
           margin-top: 40px;
           margin-bottom: 25px;
    }
    .lop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #2F3034;
  margin-left: 35px;
  padding-top: 5px;
    }
    .lop1 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #2F3034;
  margin-left: 35px;
  padding-top: 5px;
    }
    #form2 {
        width: 80%;
        height: 30px;
        margin-bottom: 30px;
        float: left;
        padding-left: 100px;
    }
    #form2 label {
        width: 70%;
        height: 40px;
        margin-bottom: 30px;
        float: left;
    }
    .m {
      float: left;
      margin-left: 0px;
    }
    .n {
      padding-left: 140px;
    }
    .o {
      float: left;
      padding-left: 5px;
    }
    .s {
      padding-left: 160px;
    }
    .o1 {
      float: left;
      margin-left: 5px;
    }
    .s2 {
      padding-left: 5px;
      float: left;
    }
    .s1 {
      padding-left: 170px;
    }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      #sidenav {
        display: none;
      }
      #sidenav3 {
        display: none;
      }
      .donate5{
          width: 15%;
      height: 4px;
      background: #0687FC;
      }
      .flex-container{
          background: #072568;
          height: 60px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
      }
      .de {
        display: none;
      }
      .donate4{
          width: 15%;
      height: 4px;
      background: #0687FC;
      }
      .we {
             display: grid;
             width: 100%;
             grid-template-columns: 90%;
             grid-template-rows: repeat(4, 250px);
             grid-gap: 40px;
             margin-top: 40px;
             margin-bottom: 25px;
      }
      .we1 {
             display: grid;
             width: 100%;
             grid-template-columns: 90%;
             grid-template-rows: repeat(4, 250px);
             grid-gap: 40px;
             margin-top: 40px;
             margin-bottom: 25px;
      }
      .ae {
             display: grid;
             width: 100%;
             grid-template-columns: 90%;
             grid-template-rows: repeat(1, 450px);
             grid-gap: 40px;
             margin-top: 40px;
             margin-bottom: 25px;
      }
      .be {
             display: grid;
             width: 100%;
             grid-template-columns: 90%;
             grid-template-rows: repeat(1, 300px);
             grid-gap: 40px;
             margin-top: 40px;
             margin-bottom: 25px;
      }
      .qe {
             display: grid;
             width: 100%;
             grid-template-columns: 95%;
             grid-template-rows: repeat(2, 250px);
             grid-gap: 40px;
             margin-top: 40px;
             margin-bottom: 25px;
      }
      .ze {
             display: grid;
             width: 100%;
             grid-template-columns: 100%;
             grid-template-rows: repeat(1, 1550px);
             grid-gap: 40px;
             margin-top: 40px;
             margin-bottom: 25px;
      }
      .ze1 {
             display: grid;
             width: 100%;
             grid-template-columns: 100%;
             grid-template-rows: repeat(1, 1450px);
             grid-gap: 40px;
             margin-top: 40px;
             margin-bottom: 25px;
      }
      #scheme {
        padding-left: 20px;
        padding-top: 15px;
        float: left;
    }
    #drop {
        padding-top: 50px;
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
        padding-bottom: 50px;
    }
    #drop1 {
      padding-top: 50px;
      width: 100%;
      padding-left: 30px;
      padding-right: 10px;
      padding-bottom: 50px;
    }
    }