body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 100%;
}
.flex-container{
    background: #072568;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.menu {
  text-align: right;
  flex-grow: 1;
}
ul li {
    display: inline-block;
    padding: 30px 10px;
    font-weight: 500;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-style: normal;
line-height: 24px;
text-transform: capitalize;
color: #FFFFFF;
margin-right: 50px;
  }
  li a {
      color: white;
  }
  li a:hover {
    color: white;
  }
  #scheme{
      float: left;
      margin-left: 20px;
      margin-top: 15px;
  }
  .donate1 {
      width: 70%;
      height: 30px;
      font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #072568;
    background: #FCE6E3;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .toggler {
      visibility: hidden;
  }
  div h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-transform: capitalize;
    color: #072568;
  }
  div h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #F91647;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }
.p {
    font-weight: normal;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-style: normal;
line-height: 150%;
color: #2F3034;
text-align: justify;
}
 .cards {
    background: #FFFFFF;
    border-radius: 10px;
 }
 .h3 {
     padding-bottom: 10px;
 }
 .h3 h3 {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding-top: 20px;
    padding-left: 120px;
    line-height: 24px;
    text-transform: capitalize;
    color: #072568;
    text-align: left;
 }
 .top {
    background: #0687FC;
    color: #0687FC;
    border-radius: 10px 10px 0px 0px;
    height: 10px;
 }
 .pot {
    box-shadow: 4px 10px 10px rgba(6, 135, 252, 0.1);
    border-radius: 10px;
    background-color: white;
 }
 .we {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 270px);
        grid-gap: 33px;
        margin-top: 40px;
        margin-bottom: 132px;
 }
 .pot .p {
     width: 90%;
     height: 71px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #2F3034;
    margin-left: 25px;
    margin-right: 25px;
 }
 .head {
    width: 41%;
    height: 128px;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #072568;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 100px;
 }
 .designed {
     margin-left: 60px;
     margin-right: 70px;
height: 1850px;
width: 90%;
background-image: url(images/chss_logo_standalone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 1500px;
 }
 .icons {
    float: left;
    margin-left: 25px;
 }
 .footer img {
     position: absolute;
     left: 75%;
     padding-top: 35px;
 }
 .footer p {
    font-weight: normal;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    padding-left: 70px;
    padding-top: 40px;
    position: absolute;
    left: 1%;
 }
 footer {
    background: #072568;
    height: 100px;
    width: 100%;
 }
  @media (min-width: 300px) and (max-width: 800px) {
    body {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        width: 100%;
    }
    .flex-container {
        overflow: hidden;
  position: relative;
  background: #072568;
        height: 100px;
        width: 100%;
    }
     ul a {
        color: #FCE6E3;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
    .flex-container button.icon {
        background: #072568;
        color: #FCE6E3;
        display: block;
        position: absolute;
        right: 50px;
        top: 15px;
        height: 25px;
      }
      .flex-container a:hover {
        background-color: #072568;
        color: #FCE6E3;
      }
      div h3 {
        font-weight: bold;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        text-transform: capitalize;
        line-height: 24px;
        color: #072568;
      }
      div h2 {
        font-weight: bold;
        font-size: 20px;
        color: #F91647;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        width: 100%;
        text-align: center;
      }
     .donate1 {
      color: #FF0000;
      text-decoration: none;
      display: block;
      width: 80%;
      background: none;
      height: 30px;
      font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
     }
      #scheme{
        margin-left: 10px;
    }
    .p {
        font-weight: normal;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #2F3034;
    text-align: justify;
    }
     .h3 {
        background: #FFFFFF;
        border-radius: 10px;
         padding-bottom: 15px;
     }
     .h3 h3 {
        font-weight: 600;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        padding-top: 10px;
        padding-left: 75px;
        line-height: 24px;
        text-transform: capitalize;
        color: #072568;
        text-align: left;
     }
     .top {
        background: #0687FC;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
        height: 10px;
     }
     .pot {
        box-shadow: 10px 20px 20px rgba(6, 135, 252, 0.1);
        border-radius: 10px;
        width: 100%;
     }
     .we {
            display: grid;
            width: 100%;
            grid-template-columns: 100%;
            grid-template-rows: repeat(10, 350px);
            grid-gap: 70px;
            margin-top: 50px;
            margin-bottom: 12px;
     }
     .pot .p {
        width: 97%;
        height: 96px;
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 16px;
        text-align: left;
        color: #2F3034;
        margin-left: 10px;
     }
     .head {
        width: 70%;
        height: 40px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #072568;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        margin-bottom: 20px;
        margin-top: 70px;
     }
     .designed {
         margin-left: 20px;
         margin-right: 70px;
         width: 90%;
         height: 4350px;
         background: none;
     }
     .toggler {
         visibility: visible;
     }
     .icons {
        float: left;
        height: 50px;
        margin-left: 10px;
     }
     .footer img {
     position: absolute;
     left: 25%;
     padding-top: 35px;
     }
     .footer p {
        font-weight: normal;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        color: #FFFFFF;
        padding-left: 50px;
    padding-top: 10px;
    position: absolute;
    left: 0.2%;
     }
     footer {
        background: #072568;
        height: 100px;
        width: 100%;
     }
    :root {
        --primary-color: #072568;
        --overlay-color: rgba(24, 39, 51 , 0.85);
        --menu-speed: 0.75s;
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .flex-container .toggler {
        position: absolute;
        top: 15px;
        left: 80%;
        justify-content: right;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
      }
      
      .flex-container .hamburger {
        position: absolute;
        top: 15px;
        left: 80%;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      /* Hamburger Line */
      .flex-container .hamburger > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #FCE6E3;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
      }
      
      /* Hamburger Lines - Top & Bottom */
      .flex-container .hamburger > div::before,
      .flex-container .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }
      
      /* Moves Line Down */
      .flex-container .hamburger > div::after {
        top: 10px;
      }
      
      /* Toggler Animation */
      .flex-container .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
      }
      
      /* Turns Lines Into X */
      .flex-container .toggler:checked + .hamburger > div:before,
      .flex-container .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
      }
      
      /* Rotate On Hover When Checked */
      .flex-container .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
      }
      
      /* Show Menu */
      .flex-container .toggler:checked ~ .menu {
        visibility: visible;
      }
      
      .flex-container .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
      }
      
      .flex-container .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
      }
      
      .flex-container .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .flex-container .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 300vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
      }
      
      .flex-container .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
      }
      
      .flex-container .menu > div > div > ul > li {
        list-style: none;
        color: red;
        font-size: 1.5rem;
        padding: 1rem;
      }
      
      .flex-container .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
      }
  }