body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
header{
    background: #072568;
    height: 100px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .register1 {
      width: 163px;
    height: 48px;
    border-radius: 30px;
    background: #072568;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
    color: #FCE6E3;
 }
  nav span {
    display: inline-block;
    padding: 20px 10px;
    font-weight: 500;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-style: normal;
line-height: 24px;
text-transform: capitalize;
color: #FFFFFF;
margin-right: 50px;
  }
  .p1 {
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    color: #181B21;
  }
  .h2s{
    width: 520px;
    height: 144px;
    font-weight: bold;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: left;
    line-height: 72px;
    color: #072568;
  }
  strong {
    color: #F91647;
  }
  nav {
    text-align: right;
    flex-grow: 1;
  }
  .scheme{
      margin-left: 50px;
  }
  .donate {
      width: 154px;
      height: 48px;
      font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #072568;
    background: #FCE6E3;
    border-radius: 30px;
    margin-right: 20px;
  }
.support {
    background-image: url(images/health-professionals.png);
    background-repeat: no-repeat;
    background-position: right;
}
.support1{
    margin: 98px;
}
.health {
    background: rgba(7, 37, 104, 0.7);
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken, normal;
height: 668px;
margin: 0px;
}
.health1 {
    padding-top: 132px;
    margin-left: 423px;
    margin-right: 423px;
    font-weight: bold;
font-size: 48px;
line-height: 72px;
font-family: 'Poppins', sans-serif;
font-style: normal;
text-align: center;
color: #E1F2FF;
}
.donate4{
    width: 43.18px;
height: 4px;
background: #FCE6E3;
}
.health h3 {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-size: 20px;
line-height: 30px;
color: #E1F2FF;
}
.health p {
    font-weight: normal;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-style: normal;
line-height: 24px;
color: #C1CFD6;
}
  .options {
      text-align: center;
  }
  .logo {
      background: #FCE6E3;
      border-radius: 70px;
      float: left;
  }
  .register {
     width: 163px;
     height: 48px;
     border-radius: 30px;
     background: #072568;
     text-align: center;
  }
  #button {
    background: #072568;
    width: 163px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #FCE6E3;
  }
  div h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-transform: capitalize;
    color: #072568;
  }
  div h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #F91647;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }
  .null {
      color: white;
  }
  .container {
      margin: 98px;
  }
  .container1 {
    margin: 98px;
  overflow:hidden;
}
  .div1 {
    border: 1px solid white;
    overflow:auto;
    border-radius: 20px;
    width: 770px;
    height: 314px;
    margin: 100px 300px;
    background: white;
}
.img {
   float: left;
   background: #000 
}
.testimonial {
    height: 668px;
    background: rgba(225, 242, 255, 0.5);
    background-image: url(images/Group.png);
    background-repeat: no-repeat;
    background-position: right;
}
.caption {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-size: 48px;
text-align: center;
color: #072568;
}
.peas {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-family: 'Poppins';
font-size: 48px;
color: #072568;
}
.p {
    font-weight: normal;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-style: normal;
line-height: 150%;
color: #2F3034;
text-align: justify;
}
.name {
    font-weight: normal;
font-size: 16px;
line-height: 150%;
text-align: right;
font-family: 'Poppins', sans-serif;
font-style: normal;
color: #072568;
}
.create {
    background: #FCE6E3;
border-radius: 10px;
width: 370px;
height: 126px;
}
.choose {
    width: 370px;
height: 160px;
background: #FFE9AD;
border-radius: 10px;
}
.join {
    width: 370px;
height: 126px;
background: #B5F1C7;
border-radius: 10px;
}
.how h3 {
    font-weight: 600;
font-size: 24px;
line-height: 36px;
font-family: 'Poppins', sans-serif;
font-style: normal;
color: #181B21;
margin-left: 20px;
}
.how p {
    font-weight: normal;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-style: normal;
line-height: 24px;
color: #2F3034;
margin-left: 20px;
}
.img1 {
    float: left;
 }
 .how {
     margin-top: 51px;
     margin-left: 93px;
 }
 .how h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 72px;
    color: #072568;
 }
 .ola {
     width: 100%;
 }
 .cards {
    background: #FFFFFF;
    border-radius: 10px;
 }
 .h3 {
     padding-bottom: 25px;
 }
 .h3 h3 {
    font-weight: 600;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding-top: 20px;
    padding-left: 100px;
    line-height: 36px;
    text-transform: capitalize;
    color: #072568;
    text-align: left;
 }
 .top {
    background: #0687FC;
    color: #0687FC;
    border-radius: 10px 10px 0px 0px;
 }
 .pot {
    box-shadow: 4px 10px 10px rgba(6, 135, 252, 0.1);
    border-radius: 10px;
 }
 .we {
        display: grid;
        width: 100%;
        grid-template-columns: 570px 570px;
        grid-template-rows: repeat(2, 250px);
        grid-gap: 40px;
        margin-top: 40px;
        margin-bottom: 132px;
 }
 .pot .p {
     width: 490px;
     height: 71px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #2F3034;
    margin-left: 39.65px;
    margin-right: 39.65px;
 }
 .head {
    width: 520px;
    height: 128px;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #072568;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 185px;
 }
 .designed {
     margin-left: 126px;
     margin-right: 70px;
height: 850px;
 }
 .icons {
    float: left;
 }
 .footer img {
     float: right;
     padding-top: 38px;
     padding-right: 98px;
 }
 .footer p {
    font-weight: normal;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 95px;
    padding-top: 38px;
 }
 footer {
    background: #072568;
    height: 100px;
 }
 .box{
    float:left;
    text-align: left;
    width:30%;
    margin-right: 20px;
  }
  
  @media (min-width: 360px) and (max-width: 800px) {
    body {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
    }
    header{
        background: #072568;
        height: 60px;
        width: 1219px;
    }
    .flex-container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
      }
      .register1 {
          width: 163px;
        height: 48px;
        border-radius: 30px;
        background: #072568;
        text-align: center;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
        color: #FCE6E3;
     }
      nav span {
        display: none;
      }
      .p1 {
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 20px;
        color: #181B21;
      }
      .h2s{
        width: 340px;
height: 72px;
        font-weight: bold;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        color: #072568;
        text-align: left;
      }
      strong {
        color: #F91647;
      }
      nav {
        text-align: right;
        flex-grow: 1;
      }
      .scheme{
          margin-left: 10px;
      }
      .donate {
          width: 154px;
          height: 48px;
          font-weight: 600;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #072568;
        background: #FCE6E3;
        border-radius: 30px;
        margin-right: 20px;
      }
    .support {
        background-image: url(images/health-professionals.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 1219px;
    }
    .health {
        background: rgba(7, 37, 104, 0.7);
        background-image: url(header.png);
        background-repeat: no-repeat;
        background-blend-mode: darken, normal;
        width: 1219px;
    }
    .health1 {
        font-weight: bold;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: left;
    color: #E1F2FF;
    }
    .donate4{
        width: 43.18px;
    height: 4px;
    background: #FCE6E3;
    }
    .health h3 {
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
    font-size: 20px;
    color: #E1F2FF;
    }
    .health p {
        font-weight: normal;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #C1CFD6;
    width: 340px;
height: 72px;
    }
      .options {
          text-align: center;
      }
      .logo {
          background: #FCE6E3;
          border-radius: 70px;
          float: left;
      }
      .register {
         width: 163px;
         height: 48px;
         border-radius: 30px;
         background: #072568;
         text-align: center;
      }
      #button {
        background: #072568;
        width: 163px;
        cursor: pointer;
        border-radius: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        margin-top: 20px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #FCE6E3;
      }
      div h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        text-transform: capitalize;
        color: #072568;
      }
      div h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        color: #F91647;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
      }
      .null {
          color: white;
      }
      .container {
          margin: 98px;
          width: 1219px;
      }
      .div1 {
        border: 1px solid white;
        overflow:auto;
        border-radius: 20px;
        width: 770px;
        height: 314px;
        margin: 100px 300px;
        background: white;
    }
    .img {
       float: left;
       background: #000 
    }
    .testimonial {
        width: 1219px;
height: 779px;
        background: rgba(225, 242, 255, 0.5);
        background-image: url(images/Group.png);
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 60px;
    }
    .caption {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
    font-size: 48px;
    text-align: center;
    color: #072568;
    }
    .peas {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-family: 'Poppins';
    font-size: 48px;
    color: #072568;
    }
    .p {
        font-weight: normal;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 150%;
    color: #2F3034;
    text-align: justify;
    }
    .name {
        font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #072568;
    }
    .create {
        background: #FCE6E3;
    border-radius: 10px;
    width: 340px;
height: 128px;
    }
    .choose {
        width: 340px;
height: 154px;
    background: #FFE9AD;
    border-radius: 10px;
    }
    .join {
        width: 340px;
height: 128px;
    background: #B5F1C7;
    border-radius: 10px;
    }
    .how h3 {
        font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #181B21;
    margin-left: 20px;
    }
    .how p {
        font-weight: normal;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 24px;
    color: #2F3034;
    margin-left: 20px;
    }
    .img1 {
        float: left;
     }
     .how {
         margin-top: 51px;
         margin-left: 18px;
         width: 1219px;
     }
     .how h2 {
        font-weight: bold;
        font-size: 48px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        line-height: 72px;
        color: #072568;
     }
     .ola {
         width: 100%;
     }
     .cards {
        background: #FFFFFF;
        border-radius: 10px;
     }
     .h3 {
         padding-bottom: 15px;
     }
     .h3 h3 {
        font-weight: 600;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        padding-top: 10px;
        padding-left: 100px;
        line-height: 36px;
        text-transform: capitalize;
        color: #072568;
        text-align: left;
     }
     .top {
        background: #0687FC;
        color: #0687FC;
        border-radius: 10px 10px 0px 0px;
     }
     .pot {
        box-shadow: 4px 10px 10px rgba(6, 135, 252, 0.1);
        border-radius: 10px;
        width: 340px;
height: 231px;
margin-bottom: 30px;
     }
     .we {
            display: grid;
            width: 100%;
            grid-template-columns: 340px;
            grid-template-rows: repeat(4, 250px);
            grid-gap: 40px;
            margin-top: 40px;
            margin-bottom: 132px;
     }
     .pot .p {
        width: 300px;
        height: 121px;
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        color: #2F3034;
        margin-left: 20px;
        margin-right: 20px;
     }
     .head {
        width: 217px;
        font-weight: bold;
        font-size: 24px;
        color: #072568;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
     }
     .designed {
         margin-left: 18px;
         margin-right: 70px;
         width: 1219px;
         height: 1157px;
         margin-bottom: 60px;
     }
     .icons {
        float: left;
        width: 50px;
        height: 50px;
     }
     .footer img {
         float: right;
         padding-top: 38px;
         padding-right: 98px;
     }
     .footer p {
        font-weight: normal;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        line-height: 24px;
        color: #FFFFFF;
        padding-left: 95px;
        padding-top: 38px;
     }
     footer {
        background: #072568;
        height: 100px;
        width: 1219px;
     }
     .box{
        text-align: left;
        width: 340px;
      }
  }