body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 100%;
}
#form {
    width: 30%;
    height: 30px;
    margin-bottom: 30px;
}
  .form-check label {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-transform: capitalize;
    color: #072568;
    text-align: left;
    padding-left: 10px;
  }
  #drop {
      padding-top: 200px;
      width: 100%;
      padding-left: 600px;
  }
  #dash h3 {
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
    color: white;
  }
  #side h3 {
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #072568;
  }
  div h2 {
font-style: normal;
font-weight: bold;
font-size: 47px;
line-height: 47px;
color: #F91647;
    font-family: 'Poppins', sans-serif;
  }
  #null {
      visibility: hidden;
  }
  div h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #181B21;
  }
  #button {
    background: #072568;
    width: 10%;
    height: 48px;
    cursor: pointer;
    border-radius: 30px;
    border-color:#072568;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #FCE6E3;
  }
#sidenav {
    background: #072568;
    height: 695px;
    width: 19%;
    float: left;
}
#sidenav h3 {
    margin-left: 20px;
    padding-top: 12px;
    float: left;
}
#side {
    background: #FCE6E3;
    height: 50px;
    width: 100%;
    border-color: #FCE6E3;
    border: 0px;
}
.flex-container{
    display: none;
}
#dash {
    height: 60px;
    background: #072568;
    width: 100%;
    border-color: #072568;
    border: 0px;
}
.circle{
    margin-left: 80px;
    margin-bottom: 70px;
    padding-top: 30px;
}
.img {
    float: left;
    margin-left: 23px;
    padding-top: 10px;
}
  @media (min-width: 300px) and (max-width: 800px) {
    body {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        width: 100%;
    }
      div h3 {
        font-weight: bold;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        text-transform: capitalize;
        line-height: 24px;
        color: #072568;
      }
      div h2 {
        font-weight: bold;
        font-size: 24px;
        color: #F91647;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        width: 100%;
        text-align: left;
      }
      .flex-container{
          background: #072568;
          height: 100px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
      }
      #scheme {
        float: left;
        margin-left: 10px;
        margin-top: 15px;
    }
    #sidenav {
      display: none;
    }
      #button {
        background: #072568;
        width: 50%;
        height: 50px;
        cursor: pointer;
        border-radius: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        margin-top: 20px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #FCE6E3;
      }
      #drop {
          padding-top: 200px;
          width: 100%;
          padding-left: 20px;
          padding-bottom: 50px;
      }
      #form {
          width: 50%;
          height: 30px;
          margin-bottom: 30px;
      }
      .form-check label {
        font-weight: bold;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        text-transform: capitalize;
        color: #072568;
        text-align: left;
        padding-left: 10px;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      